# authentication
AllowUsers proxy
PermitRootLogin no
PermitEmptyPasswords yes

# greeting
# UsePAM no
Banner none
PrintMotd no
PrintLastLog no

# forwarding
AllowAgentForwarding yes
AllowStreamLocalForwarding yes
StreamLocalBindUnlink yes
AllowTcpForwarding yes
GatewayPorts clientspecified
X11Forwarding yes
PermitTunnel no

# misc
UseDNS no
PidFile none
AcceptEnv LANG LC_*
Subsystem sftp /usr/lib/ssh/sftp-server

